.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  color: var(--color-beige);
}

.nav-logo {
  font-family: 'Poppins';
  font-size: 2.625rem; 
  font-weight: 500;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 2rem; 
}

.nav-menu li {
  margin-right: 1rem;
}

.nav-menu li:last-child {
  margin-right: 0;
}

.nav-menu a {
  text-decoration: none;
  color: inherit;
}

.nav-signup {
  border-radius: 3.125rem; 
  padding: 0.5rem 1.5rem; 
  background: #8B4513;
}

.nav-signup:hover {
  background: var(--color-beige);
  transition: var(--transition);
  color: brown !important;
}

@media (max-width: 768px) {
  .nav-menu {
      display: none; 
  }

  .nav-signup {
      display: none; 
  }
}
