.profile {
  max-width: 50rem;
  margin: 2.5rem auto;
  padding: 1.25rem;
  background-color: #f9f9f9;
  border: 0.625rem solid #ddd;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  border-radius: 0.625rem;
}

.profile-header {
  background-image: url('../../assets/Images/clouds.jpg');
  background-size: cover;
  background-position: center;
  height: 12.5rem;
  border-radius: 0.625rem 0.625rem 0 0;
  padding: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-avatar {
  position: relative;
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
  overflow: hidden;
  margin: 1.25rem auto;
  border: 0.3125rem transparent;
  background-color: #f2f2f2;
}

.edit-icon {
  position: absolute;
  bottom: 0.3125rem;
  right: 0.3125rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  padding: 0.3125rem;
  cursor: pointer;
}

.profile-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-picture {
  display: block;
  width: 6.25rem;
  height: 6.25rem;
  object-fit: cover;
  border-radius: 50%;
}

.profile-picture-label {
  position: relative;
  display: inline-block;
}

.profile-info {
  padding: 1.25rem;
  text-align: center;
}

.profile-info h1 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.625rem;
  color: #2867b2;
}

.profile-info h2 {
  font-size: 1.125rem;
  color: #666;
  margin-bottom: 1.25rem;
}

.profile-info p {
  font-size: 1rem;
  color: #333;
  margin-bottom: 1.25rem;
}

.section-title {
  font-size: 1.125rem;
  font-weight: 600;
  color: #2867b2;
  border-bottom: 0.125rem solid #2867b2;
  margin-bottom: 1.25rem;
  padding-bottom: 0.625rem;
}

.edit-profile-actions {
  display: flex;
  justify-content: center;
  margin-bottom: 1.25rem;
}

.btn-save,
.btn-cancel {
  margin: 0 0.625rem;
  padding: 0.625rem 1.25rem;
  border: none;
  border-radius: 0.3125rem;
  font-size: 1rem;
  cursor: pointer;
}

.btn-save {
  background-color: #4caf50;
  color: #fff;
}

.btn-cancel {
  background-color: #ccc;
  color: #333;
}

.new-experience-form {
  margin-top: 1.25rem;
}

.new-experience-form label {
  display: block;
  margin-bottom: 0.3125rem;
  font-weight: bold;
}

.new-experience-form input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.625rem;
  border-radius: 0.3125rem;
  border: 0.0625rem solid #ddd;
}

.add-experience-button {
  margin-bottom: 0.625rem;
}

.input .summary {
  width: 100%;
}
