.profile {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.profile-header {
  background-image: url('../../assets/Images/clouds.jpg');
  background-size: cover;
  background-position: center;
  height: 200px;
  border-radius: 10px 10px 0 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  margin: 20px auto;
  border: 5px transparent;
  background-color: #f2f2f2;
}

.profile-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-info {
  padding: 20px;
  text-align: center;
}

.profile-info h1 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #2867b2;
}

.profile-info h2 {
  font-size: 18px;
  color: #666;
  margin-bottom: 20px;
}

.profile-info p {
  font-size: 16px;
  color: #333;
  margin-bottom: 20px;
}

.section-title {
  font-size: 18px;
  font-weight: 600;
  color: #2867b2;
  border-bottom: 2px solid #2867b2;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.edit-profile-actions {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.btn-save,
.btn-cancel {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.btn-save {
  background-color: #4caf50;
  color: #fff;
}

.btn-cancel {
  background-color: #ccc;
  color: #333;
}

.new-experience-form {
  margin-top: 20px;
}

.new-experience-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.new-experience-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.add-experience-button {
  margin-bottom: 10px;
}
